@charset "utf-8";
/* CSS Document */

p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#030;
	line-height: 18px;
	padding:3px;
	

}
.cursiva{
	font-style:italic;
	margin-left: 2px;
	line-height: 14px;
	color:#03C;
}
.negrita {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11;
	line-height: 18px;
	font-weight: bold;
	color: #006;
}
.resaltado{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #069
}
.TITULO{
	font-family:"Times New Roman", Times, serif;
	font-size: 20px;
	line-height:18px;
	color: #060;
	text-align:center;
}
.navegacion{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #039;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	background-color: #369;
	display: block;
	width: 140px;
	padding: 8px;
}
.centrar{
	width:800px;
	margin:0 auto;
}
.navegador;hover{
	font-family: Verdana, Geneva, sans-serif
	font-size: 17px;
	
	
	
